<p>EDIT Eco-Sin Form</p>


<%= form_for :sin, url: sin_path(@sin), method: :patch do |f| %>

  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
 
  <p>
    <%= f.label :footprint %><br>
    <%= f.text_area :footprint %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', sins_path %>