	<h1>Alleviate your Eco-Anxiety with some good old fashioned penance!</h1>
	<p>Find your carbon sin in the dropdown below:</p>

<!-- 	<% @sins.each do |x| %>
		<p>
			<strong><%= x.description %></strong><br>
			<%= x.footprint %>
		</p>
	<% end %> -->

	<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>
 
<% @sins.each do |sin| %>
  <tr>
    <td><%= sin.title %></td>
    <td><%= sin.text %></td>
    <td><%= link_to 'Show', sin_path(article) %></td>
    <td><%= link_to 'Edit', edit_sin_path(sin) %></td>
  </tr>
<% end %>
</table>
