	<h1>Alleviate your Eco-Anxiety with some good old fashioned penance!</h1>
	
	<%= form_tag(controller: "home", action: "compute_penance") do %>

		<% options = options_from_collection_for_select(@sins, 'id', 'description') %>
		<%= select_tag :id,  options %>
		<%= submit_tag("Search") %>

	<% end %>



	<%= link_to "Eco-Sins", {controller: "sins", action: "index" } %><br>
	<%= link_to "Penances", {controller: "penances", action: "index" } %>

